:host {
    display: block;
    width: 100%;
}

.section-wrapper {
    scroll-margin-top: 100px;
    width: 100%;
    position: relative;
    container-type: inline-size;
    container-name: section;
}
