<div *ngIf="!isAdminRoute()">
  <app-header></app-header>
</div>

<main [class.admin-main]="isAdminRoute()">
  <router-outlet></router-outlet>
</main>

<div *ngIf="!isAdminRoute()">
  <app-footer></app-footer>
</div>

<!-- Modal Container -->
<div *ngIf="!isAdminRoute()">
  <app-base-modal></app-base-modal>
</div>

<!-- Mobile navigation for main app -->
<div class="footer-mobile" *ngIf="!isAdminRoute()">
  <div class="favorites-link" (click)="openFavoritesPage()">
    <mat-icon [matBadge]="favoritesCount" matBadgeColor="warn"
      [matBadgeHidden]="favoritesCount === 0">favorite_border</mat-icon>
  </div>
  <div class="profile-icon" (click)="openAuthModal()">
    <mat-icon>person_outline</mat-icon>
  </div>
  <div class="cart" (click)="openCartModal()">
    <mat-icon [matBadge]="cartCount" matBadgeColor="warn" [matBadgeHidden]="cartCount === 0">shopping_bag</mat-icon>
  </div>
</div>