
<div class="custom-dropdown" [class.open]="isOpen">
    <div class="dropdown-trigger" (click)="toggleDropdown()">
      <span class="selected-text">{{ selectedLabel }}</span>
      <div class="dropdown-arrow" [class.rotated]="isOpen">
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 9L12 15L18 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
    
    <div class="dropdown-menu" [class.visible]="isOpen">
      <div class="dropdown-content">
        <div 
          *ngFor="let option of options" 
          class="dropdown-option"
          [class.selected]="option.value === selectedValue"
          (click)="selectOption(option)"
        >
          <span>{{ option.label }}</span>
          <div *ngIf="option.value === selectedValue" class="check-icon">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  