<div class="search-bar" [style.width]="width" [style.maxWidth]="maxWidth">
  <mat-form-field appearance="outline" class="search-field" [floatLabel]="floatLabelMode">
    <mat-label *ngIf="showFloatingLabel">{{ label }}</mat-label>
    <input
      matInput
      [value]="searchTerm"
      (input)="onInputChange($any($event.target).value)"
      (keyup.enter)="onSearchClick()"
      [placeholder]="inputPlaceholder"
      [attr.aria-label]="!showFloatingLabel ? label : null"
    />
  </mat-form-field>
</div>
